*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: darkblue;
    padding: 10px;
}

nav a{
    color: white;
    display: block;
    padding: 20px;
}

main{
    max-width: 840px;
}

h1{
    color: darkblue;
}

main img{
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p{
    padding: 0;
}

aside{
    position: relative;
    width: 250px;
    text-align: center;
}

aside img{
    height: auto;
    width: 200px;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

footer{
    text-align: center;
    margin-top: 10px;
    border-top: 10px;
}

/*Seletores de Classe*/
.caixa {
    margin: 10px;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 10px;
    background-color: #ddd;
    color: #000;
}